[Unit]
Description=Grand Fantasia Gateway Server
After=network-online.target postgresql.service gf-ticket.service
Wants=network-online.target
PartOf=gfserver.target

[Service]
Type=simple
User=gfserver
Group=gfserver
WorkingDirectory=/opt/gfserver/GatewayServer
ExecStart=/opt/gfserver/GatewayServer/GatewayServer
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths=/opt/gfserver

[Install]
WantedBy=gfserver.target
