[Unit]
Description=Grand Fantasia Mission Server
After=network-online.target postgresql.service gf-login.service
Wants=network-online.target
PartOf=gfserver.target

[Service]
Type=simple
User=gfserver
Group=gfserver
WorkingDirectory=/opt/gfserver/MissionServer
ExecStart=/opt/gfserver/MissionServer/MissionServer
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths=/opt/gfserver

[Install]
WantedBy=gfserver.target
